// SPDX-License-Identifier: GPL-2.0
/*
 * Baikal-M Mini-ITX board device tree (test version)
 *
 */

/dts-v1/;

#include "bm1000.dtsi"
#include <dt-bindings/net/realtek-phy-rtl8211f.h>

/ {

	model = "Elpitech Baikal-M mitx board";
	compatible = "baikal,baikal-m";
	#address-cells = <2>;
	#size-cells = <2>;

	aliases {
		ethernet0 = &gmac0;
		ethernet1 = &gmac1;
	};

	chosen { };

	panel {
		compatible = "panel-lvds";
		width-mm = <223>;
		height-mm = <125>;
		data-mapping = "vesa-24";
		enable-gpios = <&porta 16 GPIO_ACTIVE_HIGH>;
		panel-timing {
		// 1920x1080 @60Hz
			clock-frequency = <148500000>;
			hactive = <1920>;
			vactive = <1080>;
			hsync-len = <44>;
			hfront-porch = <88>;
			hback-porch = <148>;
			vsync-len = <5>;
			vfront-porch = <4>;
			vback-porch = <36>;
		};
		port {
			#address-cells = <1>;
			#size-cells = <0>;
			panel0_lvds0: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&vdu_lvds0_pads>;
			};
			panel0_lvds1: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&vdu_lvds1_pads>;
			};
		};
	};

	gpio-keys {
		compatible = "gpio-keys";
		pwr {
			label = "PWR Button";
			linux,code = <116>;
			gpios = <&porta 10 GPIO_ACTIVE_LOW>;
		};
	};
};

&uart0 {
	status = "okay";
};

&uart1 {
	status = "okay";

	ps2mult {
		compatible = "serdev,serio";
		current-speed = <115200>;
		protocol = <0x3c>; /* SERIO_PS2MULT */
	};
};

&sata0 {
	status = "okay";
};

&sata1 {
	status = "okay";
};

&gmac0 {
	status = "okay";
	snps,reset-gpios = <&porta 19 GPIO_ACTIVE_LOW>;
	snps,reset-delays-us = <10>, <10000>, <50000>;
	phy-mode = "rgmii-rxid";
	phy-handle = <&gmac0_phy>;
};

&mdio0 {
	gmac0_phy: ethernet-phy@3 {
		compatible = "ethernet-phy-id001c.c916", "ethernet-phy-ieee802.3-c22";
		reg = <0x3>;
		txd0-skew-ps = <0>;
		txd1-skew-ps = <0>;
		txd2-skew-ps = <0>;
		txd3-skew-ps = <0>;
		txc-skew-ps  = <0xff>;
		realtek,led-mode = <RTL8211F_LED_MODE_B>;
		realtek,led0-control = <RTL8211F_LINK10_100_1000>;
		realtek,led1-control = <RTL8211F_LINK10_ACT>;
	};
};

&gmac1 {
	status = "okay";
	snps,reset-gpios = <&porta 20 GPIO_ACTIVE_LOW>;
	snps,reset-delays-us = <10>, <10000>, <50000>;
	phy-mode = "rgmii-rxid";
	phy-handle = <&gmac1_phy>;
};

&mdio1 {
	gmac1_phy: ethernet-phy@3 {
		compatible = "ethernet-phy-id001c.c916", "ethernet-phy-ieee802.3-c22";
		reg = <0x3>;
		txd0-skew-ps = <0>;
		txd1-skew-ps = <0>;
		txd2-skew-ps = <0>;
		txd3-skew-ps = <0>;
		txc-skew-ps  = <0xff>;
		realtek,led-mode = <RTL8211F_LED_MODE_B>;
		realtek,led0-control = <RTL8211F_LINK10_100_1000>;
		realtek,led1-control = <RTL8211F_LINK10_ACT>;
	};
};

&vdu0 {
	status = "okay";
	num-lanes = <2>;
	port {
		#address-cells = <1>;
		#size-cells = <0>;
		vdu_lvds0_pads: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&panel0_lvds0>;
		};
		vdu_lvds1_pads: endpoint@1 {
			reg = <1>;
			remote-endpoint = <&panel0_lvds1>;
		};
	};
};

&hdmi {
	status = "okay";
};

&vdu1 {
	status = "okay";
};

&gpio32 {
	status = "okay";
};

&usb2 {
	status = "okay";
};

&usb3 {
	status = "okay";
};

&pcie_lcru {
	status = "okay";
};

&pcie0 {
	status = "okay";
	reset-gpios = <&porta 6 GPIO_ACTIVE_LOW>;
};

&pcie2 {
	status = "okay";
	reset-gpios = <&porta 3 GPIO_ACTIVE_LOW>;
};

&timer1 {
	status = "okay";
};

&timer2 {
	status = "okay";
};

&timer3 {
	status = "okay";
};

&timer4 {
	status = "okay";
};

&pvt_ca57_0 {
	status = "okay";
};

&pvt_ca57_1 {
	status = "okay";
};

&pvt_ca57_2 {
	status = "okay";
};

&pvt_ca57_3 {
	status = "okay";
};

&pvt_mali {
	status = "okay";
};

&i2c0 {
	status = "okay";

	bmc@8 {
		compatible = "tp,mitx2-bmc", "t-platforms,mitx2-bmc";
		reg = <0x08>;
	};

	gpio@50 {
		compatible = "nxp,pca9670";
		#gpio-cells = <2>;
		gpio-controller;
		reg = <0x50>;
	};

	rtc@51 {
		compatible = "nxp,pcf2129", "nxp,pcf2127";
		reg = <0x51>;
	};

	hwmon@52 {
		compatible = "tp,bm_mitx_hwmon";
		reg = <0x52>;
	};

	eeprom@53 {
		compatible = "atmel,24c32";
		pagesize = <32>;
		reg = <0x53>;
	};

	ps2port@54 {
		compatible = "tp,tp_serio";
		reg = <0x54>;
		interrupt-parent = <&porta>;
		interrupts = <14 8>;
	};
};

&i2c1 {
	status = "disabled";

};

&smbus0 {
	status = "okay";
};

&smbus1 {
	status = "okay";
};

&spi {
	num-cs = <4>;

	cs-gpios = <&porta 15 GPIO_ACTIVE_LOW>, <0>;
	status = "okay";
	flash0: flash@0 {
		compatible = "micron,n25q256a", "jedec,spi-nor";
		reg = <0>;
		#address-cells = <1>;
		#size-cells = <1>;
		spi-max-frequency = <12500000>;
		status = "okay";

		/* Flash chip0 partitions */
		mtd0@0 {
			label = "bl1";
			reg = <0x00000000 0x00040000>;
			read-only;
		};

		mtd1@40000 {
			label = "fip";
			reg = <0x00040000 0x007c0000>;
		};

		mtd2@800000 {
			label = "rescue";
			reg = <0x00800000 0x01800000>;
		};
	};
};

&porta {
	pcieclk {
		line_name = "pcie-x8-clock";
		gpio-hog;
		gpios = <1 GPIO_ACTIVE_LOW>;
		output-high;
	};
};

&hda {
	status = "okay";
};
