// SPDX-License-Identifier: GPL-2.0
/*
 * Baikal-M ET151 device tree
 */

#include "bm1000.dtsi"
#include <dt-bindings/net/realtek-phy-rtl8211f.h>
#include <dt-bindings/input/gpio-keys.h>
#include <dt-bindings/input/linux-event-codes.h>

/ {

	compatible = "baikal,baikal-m";
	#address-cells = <2>;
	#size-cells = <2>;

	aliases {
		ethernet0 = &gmac1;
		fru = &fru;
		m2-pcie = &pcie0;
	};

	chosen { };

	gpio-keys {
		compatible = "gpio-keys";
		pwr {
			label = "PWR Button";
			linux,code = <116>;
			gpios = <&porta 10 GPIO_ACTIVE_LOW>;
			wakeup-source;
			wakeup-event-action = <EV_ACT_DEASSERTED>;
		};
	};
};

&uart0 {
	status = "okay";
};

&uart1 {
	status = "okay";

	ps2mult {
		compatible = "serdev,serio";
		current-speed = <115200>;
		protocol = <0x3c>; /* SERIO_PS2MULT */
	};
};

&sata0 {
	status = "okay";
};

&sata1 {
	status = "okay";
};

&gmac1 {
	status = "okay";
	snps,reset-gpios = <&porta 20 GPIO_ACTIVE_LOW>;
	snps,reset-delays-us = <10>, <10000>, <50000>;
	clk_csr = <0x3>;
	phy-mode = "rgmii-rxid";
	phy-handle = <&gmac1_phy>;
};

&mdio1 {
	gmac1_phy: ethernet-phy@3 {
		compatible = "ethernet-phy-id001c.c916", "ethernet-phy-ieee802.3-c22";
		reg = <0x3>;
		realtek,led-mode = <RTL8211F_LED_MODE_B>;
		realtek,led0-control = <RTL8211F_LINK10_1000_ACT>;
		realtek,led1-control = <RTL8211F_LINK100_1000>;
	};
};

&hdmi {
	status = "okay";
};

&vdu1 {
	status = "okay";
};

&gpio32 {
	status = "okay";
};

&usb2 {
	status = "okay";
};

&usb3 {
	status = "okay";
};

&pcie0 {
	status = "okay";
	reset-gpios = <&porta 6 GPIO_ACTIVE_LOW>;
};

&pcie1 {
	status = "okay";
	reset-gpios = <&porta 27 GPIO_ACTIVE_LOW>;
};

&pcie2 {
	status = "okay";
	reset-gpios = <&porta 3 GPIO_ACTIVE_LOW>;
};

&timer1 {
	status = "okay";
};

&timer2 {
	status = "okay";
};

&timer3 {
	status = "okay";
};

&timer4 {
	status = "okay";
};

&pvt_cluster0 {
	status = "okay";
};

&pvt_cluster1 {
	status = "okay";
};

&pvt_cluster2 {
	status = "okay";
};

&pvt_cluster3 {
	status = "okay";
};

&pvt_mali {
	status = "okay";
};

&i2c0 {
	status = "okay";
	clock-frequency = <100000>;

	rtc@51 {
		compatible = "nxp,pcf2129", "nxp,pcf2127";
		reg = <0x51>;
	};

	fru: eeprom@53 {
		compatible = "atmel,24c32";
		pagesize = <32>;
		reg = <0x53>;
	};
};

&smbus0 {
	status = "okay";
};

&smbus1 {
	status = "okay";
};

&spi0 {
	num-cs = <4>;

	cs-gpios = <&porta 15 GPIO_ACTIVE_LOW>, <0>;
	status = "okay";
	flash0: flash@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		#address-cells = <1>;
		#size-cells = <1>;
		spi-max-frequency = <12500000>;
		status = "okay";

		/* Flash chip0 partitions */
		mtd0@0 {
			label = "bl1";
			reg = <0x00000000 0x00040000>;
			read-only;
		};

		mtd1@40000 {
			label = "fip";
			reg = <0x00040000 0x007c0000>;
		};

		mtd2@800000 {
			label = "rescue";
			reg = <0x00800000 0x01800000>;
		};
	};
};

&porta {
	pcieclk {
		line_name = "pcie-x8-clock";
		gpio-hog;
		gpios = <1 GPIO_ACTIVE_LOW>;
		output-high;
	};
};

&hda {
	status = "okay";
	patch-data = "[codec]\n\
0x111d76d5 0x00000100 0\n\
[model]\n\
et151\n\
[pincfg]\n\
0x0a 0x012b101f\n\
0x0b 0x02014010\n\
0x0c 0x01ab1020\n\
0x0e 0x02a19021\n\
0x0f 0x70819040\n\
0x11 0x70a3014e\n\
0x1f 0x70451160\n\
[verb]\n\
0x0b 0x707 0xc0\n\
0x0b 0x701 0x01\n\
0x0e 0x707 0x20\n\
0x11 0x707 0x00\n\
0x1f 0x707 0x00\n\
0x17 0x701 0x03\n\
0x1b 0x360 0x17\n\
0x1b 0x350 0x17\n\
0x1b 0x361 0x17\n\
0x1b 0x351 0x17\n";
};
